{
  "plugins": ["stylelint-scss"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-prettier/recommended"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "color-named": "never",
    "no-extra-semicolons": true
  }
}
